# badge: https://github.com/borgbackup/borgstore/workflows/CI/badge.svg?branch=master

name: CI

on:
  push:
    branches: [ master ]
    paths:
    - '**.py'
    - '**.pyx'
    - '**.cpp'
    - '**.yml'
    - '**.toml'
    - '**.ini'
    - 'requirements.d/*'
  pull_request:
    branches: [ master ]
    paths:
    - '**.py'
    - '**.pyx'
    - '**.cpp'
    - '**.yml'
    - '**.toml'
    - '**.ini'
    - 'requirements.d/*'

jobs:
  linux:

    strategy:
      fail-fast: true
      matrix:
        include:
            - os: ubuntu-22.04
              python-version: '3.9'
              toxenv: py39
            - os: ubuntu-24.04
              python-version: '3.14'
              toxenv: py314

    env:
      TOXENV: ${{ matrix.toxenv }}

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
      with:
        # just fetching 1 commit is not enough for setuptools-scm, so we fetch all
        fetch-depth: 0
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Python requirements
      run: |
        python -m pip install --upgrade pip setuptools
        pip install -r requirements.d/dev.txt
    - name: Install borghash
      run: |
        python setup.py build_ext --inplace
        python -m build
        pip install -v dist/borghash*.tar.gz
    - name: run tox env
      run: tox --skip-missing-interpreters
